*{
    padding: 0;
    margin: 0;
}
.bg{
    background-image: url('bg.png');
    background-size: cover;  /* or use background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
}
.player{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.dealer{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Default Styles */
.d-health {
    position: absolute;
    top: 30px;
    right: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.p-health {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.bullet {
    position: absolute;
    font-size: larger;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    color: white;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .d-health, .p-health, .bullet {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .d-health {
        top: 20px;
        right: 10px;
        font-size: 16px;
    }
    .p-health {
        bottom: 20px;
        left: 10px;
        font-size: 16px;
    }
    .bullet {
        font-size: 16px;
        bottom: 20%;
    }
}

@media (max-width: 480px) {
    .d-health {
        top: 10px;
        right: 5px;
        font-size: 14px;
    }
    .p-health {
        bottom: 10px;
        left: 5px;
        font-size: 14px;
    }
    .bullet {
        font-size: 14px;
        bottom: 20%;
    }
}

@media (max-width: 350px) {
    .d-health {
        top: 5px;
        right: 2px;
        font-size: 12px;
    }
    .p-health {
        bottom: 5px;
        left: 2px;
        font-size: 12px;
    }
    .bullet {
        font-size: 12px;
        bottom: 20%;
    }
}
